@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<section>
    <div><img src="~/assets/img/Banner.png" class="csr-image-banner"></div>
</section>
<section class="text-center csr-section-banner">
    <div>
        <h1 class="fs-3">Condado Santa Rita</h1>
    </div>
    <div>
        <p>¡Sea parte de un bello futuro!</p>
    </div>
</section>
<section>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Lotes</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, parturient feugiat tellus hac turpis risus, blandit nunc cursus mi neque sociosqu.</p><button class="btn btn-warning ocultar" type="button">Más información</button>
                        </div>
                        <div class="col-md-6 csr-column-card-secondary"><img class="img-fluid" src="~/assets/img/Lote.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container csr-container-card-secondary">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Casas</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, parturient feugiat tellus hac turpis risus, blandit nunc cursus mi neque sociosqu.</p><button class="btn btn-warning" type="button">Más información</button>
                        </div>
                        <div class="col-md-6" style="padding-top: 20px;"><img class="img-fluid" src="~/assets/img/Casa.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>