@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<section>
    <div><img src="~/assets/img/Banner.png" class="csr-image-banner"></div>
</section>
<section class="mt-5">
    <h3 class="text-center">¡Sea parte de un bello futuro!</h3>
    <div class="container border rounded border-1 border-warning shadow-lg py-4 py-xl-5 mt-5" style="background: #ffffff;">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6">
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="~/assets/img/Image1.png"></div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-center">
                <div style="max-width: 350px;">
                    <h2 class="text-uppercase fw-bold">Lotes</h2>
                    <p class="my-3"><span style="color: rgb(var(--color_15)); background-color: transparent;">En Condominio Santa Rita podrá adquirir&nbsp;lotes en propiedad desde 10 x 19 metros. El proyecto cuenta con lotes urbanizados de diferentes dimensiones, pozo de agua potable propio, red de agua hacia todo el condominio, drenajes de aguas negras y pluviales, garita de ingreso, muro perimetral, red de iluminación y&nbsp;energía eléctrica, derecho de uso de la casa club, áreas verdes, calles asfaltadas, banquetas y bordillos de concreto .</span><br><br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container border rounded border-1 border-warning shadow-lg py-4 py-xl-5 mt-5" style="background: #ffffff;">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div style="max-width: 350px;">
                    <h2 class="text-uppercase fw-bold">Casas</h2>
                    <p class="my-3"><span style="color: rgb(47, 46, 46);">En Condado Santa Rita contamos con un gran equipo de Ingenieros, Arquitectos y Diseñadores Gráficos, los cuales trabajaron durante varios meses para poder desarrollar el mejor complejo habitacional de Guastatoya, El Progreso.</span><br></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="~/assets/img/Image2.png"></div>
            </div>
        </div>
    </div>
</section>