@page
@model NosotrosModel
@{
    ViewData["Title"] = "Nosotros";
}

<section>
    <div><img src="~/assets/img/Banner.png" class="csr-image-banner"></div>
</section>
<section class="mt-5">
    <div class="container">
        <h3 class="text-center">Nosotros</h3>
        <p class="mt-5">Condado Santa Rita es una lotificación tipo residencial ubicada en el kilómetro 77 de la carretera ruta a Aldea Santa Rita, del municipio de Guastatoya, departamento de El Progreso, el proyecto fue iniciado en el año 2018 por entidad Obras Estratégicas S.A. con el propósito de ofrecer a las familias una vivienda de calidad o lote para construcción a precios accesibles por medio de financiamientos cómodos. En ese mismo año, a través de una empresa intermediaria se iniciaron los trabajos de desarrollo, administración, diseño, ventas y control de las operaciones de la lotificación, de esta manera, con el pasar de los meses, se logró desarrollar: Pozo de agua propio, garita de acceso, planificación, muro perimetral, redes de drenajes, energía eléctrica, agua potable las 24 horas, pavimentación e iluminación de calles y creación de los diferentes sectores.<br></p>
        <p class="mt-4">En el año 2021 la empresa intermediaria se desliga del proyecto, por lo que, desde entonces, y hasta la actualidad, Obras Estratégicas S.A. ha quedado a cargo de las operaciones antes mencionadas, iniciando con esto la fase de desarrollo de: Casa club, áreas verdes y deportivas para convivencia social, seguridad, en simultaneo con la promoción y venta de lotes y casas, lo cual ha permitido que el proyecto presente avances significativos en relativamente poco tiempo. La zona residencial, más específicamente el área que constituye Condado Santa Rita ha sido dividida en lotes por el comité de planificación local, como un área en la que se pueden construir y ocupar viviendas.<br></p>
        <p class="mt-4">En el proyecto se contemplan variedad de lotes, entre ellos: Lotes típicos que son lotes que miden 10 metros de frente por 19 metros de largo, equivalente a un área de 190 metros cuadrados (271.92 varas cuadradas), y Lotes irregulares que, debido al trazo de las calles, pueden tener un área menor o mayor al área del lote típico desde los 166 metros cuadrados hasta los 335 metros cuadrados. Se inicia con una capacidad de 282 lotes en total divididos en distintos sectores de la siguiente manera: Sector A, 21 lotes, sector B, 23 lotes, sector C, 52 lotes, sector D, 52 lotes, sector E, 50 lotes, sector F, 48 lotes, Sector G, 19 lotes, y finalmente sector H, 17 lotes.<br></p>
    </div>
</section>