body {
  background: #dfe9fb;
  font-family: Poppins, sans-serif;
}

.csr-brand {
  width: 5rem;
}

@media (min-width: 576px) {
  .csr-brand {
    width: 6rem;
  }
}

@media (min-width: 768px) {
  .csr-brand {
    width: 7rem;
  }
}

@media (min-width: 992px) {
  .csr-brand {
    width: 8rem;
  }
}

.csr-navbar-color {
  background: #578bf2;
}

.csr-login-icon {
  font-size: 70px;
  color: #021e73;
}

.csr-section-login {
  padding-top: 50px;
}

.csr-img-profile {
  width: 120px;
}

.csr-div-ingresar {
  background: white;
  width: 500px;
  padding: 40px;
  max-width: 90%;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

.csr-img-perfil {
  width: 50%;
  max-width: 150px;
}

.csr-image-banner {
  width: 100%;
  object-fit: cover;
  height: 140px;
  border-top: 1px solid rgb(14,31,64);
  border-bottom: 1px solid rgb(14,31,64);
}

@media (min-width: 576px) {
  .csr-image-banner {
    height: 210px;
  }
}

@media (min-width: 768px) {
  .csr-image-banner {
    height: 280px;
  }
}

@media (min-width: 992px) {
  .csr-image-banner {
    height: 360px;
  }
}

@media (min-width: 1200px) {
  .csr-image-banner {
    height: 440px;
  }
}

@media (min-width: 1400px) {
  .csr-image-banner {
    height: 500px;
  }
}

