.navbar {
  background: #578bf2;
}

.body {
  background: #dfe9fb;
  font-family: Poppins, sans-serif;
}

.csr-image-brand {
  width: 80px;
}

@media (min-width: 576px) {
  .csr-image-brand {
    width: 90px;
  }
}

@media (min-width: 768px) {
  .csr-image-brand {
    width: 100px;
  }
}

@media (min-width: 992px) {
  .csr-image-brand {
    width: 110px;
  }
}

@media (min-width: 1200px) {
  .csr-image-brand {
    width: 120px;
  }
}

@media (min-width: 1400px) {
  .csr-image-brand {
    width: 130px;
  }
}

.csr-image-banner {
  width: 100%;
  object-fit: cover;
  height: 140px;
  border-top: 1px solid rgb(14,31,64) ;
  border-bottom: 1px solid rgb(14,31,64) ;
}

@media (min-width: 576px) {
  .csr-image-banner {
    height: 210px;
  }
}

@media (min-width: 768px) {
  .csr-image-banner {
    height: 280px;
  }
}

@media (min-width: 992px) {
  .csr-image-banner {
    height: 360px;
  }
}

@media (min-width: 1200px) {
  .csr-image-banner {
    height: 440px;
  }
}

@media (min-width: 1400px) {
  .csr-image-banner {
    height: 500px;
  }
}

.csr-section-banner {
  margin-top: 20px;
}

.csr-section-products {
}

.csr-card-column-secondary {
}

.csr-card-container-secondary {
}

.csr-container-card-secondary {
  margin-top: 20px;
}

.csr-column-card-secondary {
  padding-top: 20px;
}

.footer {
  background: #578bf2;
  margin-top: 20px;
}

.csr-validation-message {
  font-size: 12px;
}

.csr-section-lotes {
  margin-top: 30px;
}

.csr-table-header {
  background: #021e73;
}

.csr-section-profile {
  margin-top: 20px;
}

.csr-icon-profile {
  font-size: 100px;
  color: #021e73;
}

