@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Web
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"] - Condado Santa Rita</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/Styles.css" asp-append-version="true" />
</head>
<body class="body">
    <header class="csr-navbar-color">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-page="/Index"><img class="csr-brand" src="~/assets/img/Logo.png"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse justify-content-end" id="navcol-1">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" asp-page="/Index">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" asp-page="/Nosotros">Nosotros</a></li>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item"><a class="btn btn-warning nav-link" role="button" asp-page="/Ingresar">Ingresar</a></li>
                            }
                            else
                            {
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Cuenta</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-page="/Cuenta/Perfil">Perfil</a>
                                        <a class="dropdown-item" asp-page="/Cuenta/Lotes">Lotes</a>
                                        <a class="dropdown-item" asp-page="/Cuenta/Salir">Cerrar sesión</a>
                                    </div>
                                </li>
                                if (User.IsInRole(Rol.Administrador.Name))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Administracion</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-page="/Administracion/Lotes">Lotes</a>
                                            <a class="dropdown-item" asp-page="/Administracion/Contratos">Contratos</a>
                                            <a class="dropdown-item" asp-page="/Administracion/Personas">Personas</a>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    @if (ViewBag.Footer)
    {
        <footer class="text-center py-4 mt-5" style="background: #578bf2;">
            <div class="container">
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col-lg-6">
                        <p class="text-white my-2">Copyright&nbsp;© 2022 Obras Estratégicas S.A.</p>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-inline my-2">
                            <li class="list-inline-item me-4">
                                <a href="https://www.facebook.com/condadosantaritaguastatoya" target="_blank">
                                    <div class="bs-icon-circle bs-icon-primary bs-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor">
                                            <!--! Font Awesome Free 6.1.1 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="https://api.whatsapp.com/send?phone=+50249915483&amp;text=%C2%A1Hola%21%0D%0AEstoy%20navegando%20en%20la%20p%C3%A1gina%20de%20Condado%20Santa%20Rita%20y%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n." target="_blank">
                                    <div class="bs-icon-circle bs-icon-primary bs-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor">
                                            <!--! Font Awesome Free 6.1.1 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                            <path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    }

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>